@tailwind base;
@tailwind components;
@tailwind utilities;

.iransans {
    font-family: IranSans;
}

.untihamo {
    font-family: Untihamo;
}

@font-face {
    font-family: IranSans;
    src: url("../../public/fonts/iranSansX-light.woff2");
    font-weight: 400;
}

@font-face {
    font-family: IranSans;
    src: url("../../public/fonts/iranSansX-Bold.woff2");
    font-weight: 900;
}

@font-face {
    font-family: Untihamo;
    src: url("../../public/fonts/Untihamo.ttf");
}

body{
    user-select: none;
}